div#call-box {
  border: 3px solid #c0c0c0;
}

div#im-box {
  border: 3px solid #c0c0c0;
}

div#video-box {
  border: 3px solid #c0c0c0;
}

div#network-box {
  border: 3px solid #c0c0c0;
}

div#help-box {
  border: 3px solid #c0c0c0;
}

div#log-box {
  border: 3px solid #c0c0c0;
}
